.Column {
    width: 25vw;
    /* leave some room at the bottom for the filters */
    margin-bottom: 3rem;
}

.Column + .Column {
    margin-left: 2rem;
}

.Column__heading {
    width: calc(100% + 2rem);
    text-align: center;
    margin-top: 0;
    margin-left: -1rem;
    padding: 1rem;
    text-transform: capitalize;
    position: sticky;
    top: 0;
    background: #de3473;
    text-shadow: 1px 1px 2px #502e3a;
    box-shadow: 1px 1px 2px #502e3a;
    color: #fff;
    z-index: 1000;
}

.Column__story-count {
    margin-left: .66rem;
    font-weight: normal;
}
