.Filters {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: #ddd;
    border: 1px solid rgba(0, 0, 0, .1);
    border-left: none;
    border-bottom: none;
    border-top-right-radius: .2rem;
}

.Filters__filter + .Filters__filter {
    margin-left: 1rem;
}
