* {
    box-sizing: border-box;
}

:root {
    background: #eee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #333;
}

body {
    margin: 0;
    padding: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
    margin-bottom: 0;
}

a {
    color: #de3473;
    text-decoration-color: rgba(222, 52, 115, .33);
}

a:hover {
    color: #502e3a;
    text-decoration-color: rgba(80, 46, 58, .33);
}
